SOAPClient/Service References/AdvanticWS/DataController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:DataControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="DataController" targetNamespace="urn:DataControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="getDataRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="idsenal" type="xsd:string" />
    <wsdl:part name="ini" type="xsd:string" />
    <wsdl:part name="fin" type="xsd:string" />
    <wsdl:part name="type" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDataResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLocationsRequest">
    <wsdl:part name="key" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLocationsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDevicesRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="idlocalizacion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDevicesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSignalsRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="iddispositivo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSignalsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setControlRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="ip" type="xsd:string" />
    <wsdl:part name="port" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="reg" type="xsd:string" />
    <wsdl:part name="switch" type="xsd:string" />
    <wsdl:part name="type" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setControlResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRequestRequest">
    <wsdl:part name="key" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRequestResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLastRequestRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="senal" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLastRequestResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="DataControllerPortType">
    <wsdl:operation name="getData">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getDataRequest" />
      <wsdl:output message="tns:getDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLocations">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getLocationsRequest" />
      <wsdl:output message="tns:getLocationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDevices">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getDevicesRequest" />
      <wsdl:output message="tns:getDevicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSignals">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getSignalsRequest" />
      <wsdl:output message="tns:getSignalsResponse" />
    </wsdl:operation>
    <wsdl:operation name="setControl">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:setControlRequest" />
      <wsdl:output message="tns:setControlResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRequest">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getRequestRequest" />
      <wsdl:output message="tns:getRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLastRequest">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getLastRequestRequest" />
      <wsdl:output message="tns:getLastRequestResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataControllerBinding" type="tns:DataControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getData">
      <soap:operation soapAction="urn:DataControllerwsdl#getData" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocations">
      <soap:operation soapAction="urn:DataControllerwsdl#getLocations" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDevices">
      <soap:operation soapAction="urn:DataControllerwsdl#getDevices" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSignals">
      <soap:operation soapAction="urn:DataControllerwsdl#getSignals" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setControl">
      <soap:operation soapAction="urn:DataControllerwsdl#setControl" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequest">
      <soap:operation soapAction="urn:DataControllerwsdl#getRequest" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastRequest">
      <soap:operation soapAction="urn:DataControllerwsdl#getLastRequest" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:DataControllerwsdl" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataControllerService">
    <wsdl:port name="DataControllerPort" binding="tns:DataControllerBinding">
      <soap:address location="http://62.14.244.188/ws/servicio.php?wsdl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>